<div class="container-fluid footer mt-5">
  <div class="row">
      <!-- name  -->
      <div class="col-lg-6 mt-3 mb-3">
          <h1>PyroMet Events</h1>
      </div>
      <!-- nav  -->
      <div class="col-lg-4 mt-3 mb-3">
          <a routerLink="">Home</a>
          <a routerLink="artistes">Artistes</a>
          <a routerLink="about">À propos</a>
          <a routerLink="contact">Contact</a>
      </div>
      <!-- socialmedia -->
      <div class="col-lg-2 mt-3 mb-3">
          <a href="https://www.facebook.com/thibault.martin.14224" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/thibault.m78/?hl=fr" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/in/thibault-martin-673142146/" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a href="https://github.com/developpeurMThib19" target="_blank"><i class="bi bi-github"></i></a>
      </div>
  </div>
</div>
