.body
{
    background-color : #1c1c1e ;
    background-position: center;
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    color : #fefefe ;
    height: 1100px;

}
